<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edut.day34.dao.MyMapper">
	<!-- 1. 查询 -->
	<!-- 这里的resultType不需要list -->
	<select id="findAll"  resultType="cn.edut.pojo.Empolyee">
		select * from emp ;
	</select>
	
	<!-- 插入 -->
	<insert id="insert">
		insert into emp 
		values(
			null , 
			#{name} , 
			#{job} ,
			#{salary} 
			)
	</insert>
	
	<update id="update">
		update emp 
		<set>	
			<if test="name!=null">
				name=#{name} , 
			</if>
			<if test="job!=null">
				job=#{job} , 
			</if>
			<if test="salary!=null">
			salary = #{salary}
			</if> 
		</set> 
		where id = #{id}
	</update>
</mapper>