<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>learn-javaWeb-tarena</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 配置springmvc前端控制器，将所有请求交给 springmvc来处理 -->
  <!-- 这个类就是 DispatcherServlet -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	
  	<!-- 配置springmvc核心配置文件的位置，
  			默认springmvc的配置文件是在WEB-INF目录下，
  			  默认名字为 springmvc-servlet.xml，
  			  如果要放在其他目录，则需要制定如下配置； -->
  		<init-param>
  			<!-- param-name： contextConfigLocation 这里不能 写错 -->
  			<param-name>contextConfigLocation</param-name>
  			<param-value>classpath:day35/springmvc-config.xml</param-value>
  		</init-param>
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<!-- 配置斜杠{/}表示拦截除jsp以外的所有请求
  			即访问jsp不会被拦截，但访问其他资源都会被前端控制器所有拦截 
  			{/*} 表示拦截所有请求(没有例外) -->
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
  
  
  
<!-- ==================  Servlet  ======================== -->  
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>cn.edut.day30.HelloServlet</servlet-class>
    
<!--     配置 Servlet 的初始化参数
    <init-param>
    	参数名
    	<param-name></param-name>	
    	<param-value></param-value>
    </init-param>
     -->
    
    <load-on-startup>1</load-on-startup>
    
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/helloServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.edut.day30.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestJSTL</display-name>
    <servlet-name>TestJSTL</servlet-name>
    <servlet-class>cn.edut.day30.TestJSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJSTL</servlet-name>
    <url-pattern>/TestJSTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeWork1</display-name>
    <servlet-name>HomeWork1</servlet-name>
    <servlet-class>cn.edut.day30.HomeWork1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeWork1</servlet-name>
    <url-pattern>/HomeWork1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestEL</display-name>
    <servlet-name>TestEL</servlet-name>
    <servlet-class>cn.edut.day30.TestEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEL</servlet-name>
    <url-pattern>/TestEL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoorList</display-name>
    <servlet-name>DoorList</servlet-name>
    <servlet-class>cn.edut.day30.DoorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoorList</servlet-name>
    <url-pattern>/DoorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.edut.day32.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>cn.edut.day32.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet_session</display-name>
    <servlet-name>CartServlet_session</servlet-name>
    <servlet-class>cn.edut.day32.CartServlet_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet_session</servlet-name>
    <url-pattern>/CartServlet_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet_session</display-name>
    <servlet-name>PayServlet_session</servlet-name>
    <servlet-class>cn.edut.day32.PayServlet_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet_session</servlet-name>
    <url-pattern>/PayServlet_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLonger</display-name>
    <servlet-name>SessionLonger</servlet-name>
    <servlet-class>cn.edut.day32.SessionLonger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLonger</servlet-name>
    <url-pattern>/SessionLonger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YongHeServlet</display-name>
    <servlet-name>YongHeServlet</servlet-name>
    <servlet-class>cn.edut.servlet.YongHeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YongHeServlet</servlet-name>
    <url-pattern>/YongHeServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <!-- ===================  listener  ========================= -->
<!--   <listener>
    <listener-class>cn.edut.listeners.SpringServletContextLinstener</listener-class>
  </listener> -->
</web-app>