<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>learn-javaWeb-tarena</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/my/hello.jsp</location>
  </error-page>
  <listener>
  	<listener-class>com.edut.listener.TestAttributeListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.edut.listener.HelloServletContextListener</listener-class>
  </listener>
    <filter>
    <display-name>AuthorityFilter</display-name>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>com.edut.filter.AuthorityFilter</filter-class>
    <init-param>
    	<param-name>nofilter</param-name>
    	<param-value>/authority-manager.jsp,/list.jsp,/login.jsp,/loginout.jsp </param-value>
    </init-param>
    <init-param>
    	<param-name>profix</param-name>
    	<param-value>/authority</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/authority/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.edut.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.edut.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/login/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.edut.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/cache/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UsernameFilter</display-name>
    <filter-name>UsernameFilter</filter-name>
    <filter-class>com.edut.filter.UsernameFilter</filter-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UsernameFilter</filter-name>
    <url-pattern>/my/hello.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>PasswordFilter</display-name>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>com.edut.filter.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <url-pattern>/my/hello.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>secondFilter</filter-name>
    <filter-class>com.edut.filter.SeconderFilter</filter-class>
  </filter>
  <filter>
    <filter-name>helloFilter</filter-name>
    <filter-class>com.edut.filter.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>helloFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>secondFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>redirectPage</param-name>
    <param-value>/login/login.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>uncheckedUrls</param-name>
    <param-value>/login/a.jsp , /login/list.jsp , /login/doLogin.jsp , /login/logout.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>Encoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUrl</param-name>
    <param-value>jdbc:mysql://127.0.0.1:3306/spring?characterEncoding=utf8</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>hs</servlet-name>
    <servlet-class>com.edut.HelloServlet</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hs</servlet-name>
    <url-pattern>/hs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>cn.edut.day30.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.edut.day30.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestJSTL</display-name>
    <servlet-name>TestJSTL</servlet-name>
    <servlet-class>cn.edut.day30.TestJSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJSTL</servlet-name>
    <url-pattern>/TestJSTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeWork1</display-name>
    <servlet-name>HomeWork1</servlet-name>
    <servlet-class>cn.edut.day30.HomeWork1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeWork1</servlet-name>
    <url-pattern>/HomeWork1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestEL</display-name>
    <servlet-name>TestEL</servlet-name>
    <servlet-class>cn.edut.day30.TestEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEL</servlet-name>
    <url-pattern>/TestEL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoorList</display-name>
    <servlet-name>DoorList</servlet-name>
    <servlet-class>cn.edut.day30.DoorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoorList</servlet-name>
    <url-pattern>/DoorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.edut.day32.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>cn.edut.day32.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet_session</display-name>
    <servlet-name>CartServlet_session</servlet-name>
    <servlet-class>cn.edut.day32.CartServlet_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet_session</servlet-name>
    <url-pattern>/CartServlet_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet_session</display-name>
    <servlet-name>PayServlet_session</servlet-name>
    <servlet-class>cn.edut.day32.PayServlet_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet_session</servlet-name>
    <url-pattern>/PayServlet_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLonger</display-name>
    <servlet-name>SessionLonger</servlet-name>
    <servlet-class>cn.edut.day32.SessionLonger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLonger</servlet-name>
    <url-pattern>/SessionLonger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YongHeServlet</display-name>
    <servlet-name>YongHeServlet</servlet-name>
    <servlet-class>cn.edut.servlet.YongHeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YongHeServlet</servlet-name>
    <url-pattern>/YongHeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorityServlet</display-name>
    <servlet-name>AuthorityServlet</servlet-name>
    <servlet-class>com.edut.authority.servlet.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityServlet</servlet-name>
    <url-pattern>/AuthorityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.edut.authority.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>

</web-app>