<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>learn-javaWeb-tarena</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>cn.edut.day30.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.edut.day30.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestJSTL</display-name>
    <servlet-name>TestJSTL</servlet-name>
    <servlet-class>cn.edut.day30.TestJSTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJSTL</servlet-name>
    <url-pattern>/TestJSTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeWork1</display-name>
    <servlet-name>HomeWork1</servlet-name>
    <servlet-class>cn.edut.day30.HomeWork1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeWork1</servlet-name>
    <url-pattern>/HomeWork1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestEL</display-name>
    <servlet-name>TestEL</servlet-name>
    <servlet-class>cn.edut.day30.TestEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEL</servlet-name>
    <url-pattern>/TestEL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoorList</display-name>
    <servlet-name>DoorList</servlet-name>
    <servlet-class>cn.edut.day30.DoorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoorList</servlet-name>
    <url-pattern>/DoorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.edut.day32.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>cn.edut.day32.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet_session</display-name>
    <servlet-name>CartServlet_session</servlet-name>
    <servlet-class>cn.edut.day32.CartServlet_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet_session</servlet-name>
    <url-pattern>/CartServlet_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet_session</display-name>
    <servlet-name>PayServlet_session</servlet-name>
    <servlet-class>cn.edut.day32.PayServlet_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet_session</servlet-name>
    <url-pattern>/PayServlet_session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionLonger</display-name>
    <servlet-name>SessionLonger</servlet-name>
    <servlet-class>cn.edut.day32.SessionLonger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionLonger</servlet-name>
    <url-pattern>/SessionLonger</url-pattern>
  </servlet-mapping>
</web-app>